.navbar{
	height: 80px;
	background: var(--primary);
	color:var(--white);
}

.navbarWrapper{
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu{
	display: flex;
}

.menu>div+div{
	margin-left:30px;
}