.form-wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f4f4f4;
	padding:20px;
}

.form{
	height: 600px;
	width: 1020px;
	background: white;
	border-radius: 10px;
	box-shadow: 3px 3px 7px lightgray;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.left-form{
	grid-template-columns: 1fr 2fr;
}

.form-fields{
	display: flex;
	align-items: center;
	padding:0 50px;
}

.form-fields h1{
	font-size: 48px;
}

.form-fields>div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width:100%;
}

.form-input{
	margin:5px 0 !important;
}

.form-button{
	margin:15px 0 !important;
}

.form img{
	width:100%;
	height: 100%;
	border-radius: 10px;
}